body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f4;
    color: #333;
  }
  
  header, footer {
    background: #2c3e51;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  .center-img{
display: block;
margin: 0 auto;
max-width: 10%;
height: auto;
background-color: brown;

  }
  
  .container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
    background-color:#f4f4f4;

    
  }
  
  h1, h2, h3 {
    color: #2c3e50;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  .projects .project {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(40, 7, 7, 0.1);
  background-color:floralwhite;
  }
  
  .skills ol {
    list-style:inside;
    padding: 0;
    text-align:right;
    background-color: blanchedalmond;
    size: 2pc;
    color:black;
    text-orientation:sideways-right;
  }
  
  .skills li, .social li {
    padding: 6px 0;
    text-align:center;
    background-color: aquamarine;

  }
  .intro  {
    background-color:tomato;
  
  } 